@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap");

.App {
  font-family: "Baloo Tammudu 2", cursive;
  text-align: center;
}

.a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
